<section class="welcome-splash">
  <div class="greeting">
    <h1>Welcome to our Little Shop!</h1>
    <h6>Click one of the links to look around</h6>
    <h6>Checkout our code <%= link_to "Here", "https://github.com/n-flint/little_shop" %></h6>
    <h6>Check Out our Waffleboard <%= link_to "Here", "https://waffle.io/n-flint/little_shop" %></h6>
  </div>

  <div class="collaborators">
    <h4>A collaborative <%= link_to "Turing", "https://turing.io/" %> project by:</h4>
    <h6>Ty Mazey</h6>
    <h6>Rene Casco</h6>
    <h6>Noah Flint</h6>
    <h6>Vincent Provenzano</h6>
  </div>
</section>
